<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>HOME PAGE</title>
    </head>
    <body>
        <h1>WELCOME</h1>
        <h2>FUZZY TRADER</h2>
        <p> MENU </p>
        <div>
            <a href="/login">
                <button type="button" name="button">Login</button>
            </a>
        </div>
        <br>
        <div>
            <a href="/logout">
                <button type="button" name="button">Logout</button>
            </a>
        </div>
        <br>
        <div>
            <a href="/registration">
                <button type="button" name="button">Register</button>
            </a>
        </div>
        <br>
        <div>
            <a href="/my_wallet">
                <button type="button" name="button">My Wallet</button>
            </a>
        </div>
        <br>
        <div>
            <a href="/new_investment">
                <button type="button" name="button">New Investment</button>
            </a>
        </div>
    </body>
</html>
