<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
    </head>
    <body>
        <h1>Welcome, login to Fuzzy Trader platform</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="button">Login</button>
        </form>

        <br>
        <p>Don't have an acccount yet?</p>
        <div>
            <a href="/registration">
                <button type="button" name="button">Register</button>
            </a>
        </div>

    </body>
</html>
